aliri_reqwest: `Bearer` auth scheme must be exactly cased

[RFC 6750 Section 1.1](https://www.rfc-editor.org/rfc/rfc6750#section-1.1) indicates:

> Unless otherwise noted, all the protocol parameter names and values are case sensitive.

[In section 2.1](https://www.rfc-editor.org/rfc/rfc6750#section-2.1), the RFC indicates the syntax for the credentials as:

```
b64token    = 1*( ALPHA / DIGIT /
                  "-" / "." / "_" / "~" / "+" / "/" ) *"="
credentials = "Bearer" 1*SP b64token
```

In no way does the RFC indicate that the scheme may be interpreted as case-insensitive. Right now `aliri_reqwest` produces credentials using `bearer`. This should be altered to `Bearer` to be compliant with the RFC.